includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - config
        - resources
        - src
    level: 5 # The level 9 is the highest level
    ignoreErrors:
        - '#Call to an undefined static method Illuminate\\Support\\Facades\\Route::multilingual\(\)#'
    excludePaths: []
    checkMissingIterableValueType: false
    scanFiles:
      - vendor/chinleung/laravel-locales/src/helpers.php
    scanDirectories:
      - database/factories
      - stubs/app/Models
