includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - resources
        - src
    level: 5 # The level 9 is the highest level
    ignoreErrors: []
    excludePaths: []
    scanFiles:
      - vendor/chinleung/laravel-locales/src/helpers.php
