includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - config
        - resources
        - src
    level: 5 # The level 9 is the highest level
    ignoreErrors: []
    excludePaths: []
    checkMissingIterableValueType: false
    scanDirectories:
      - database/factories
      - stubs/app/Models
