@import "modern-css-reset";
@import "@fluid-project/looseleaf";

// Alpine helpers
[x-cloak] {
    display: none !important;
}

// Banner
@media (min-width: 768px) {
    [role="banner"] .wrapper {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-block: var(--step-2);
    }
}

// Alert
.alert {
    border: var(--ll-border-thin);
    border-radius: var(--ll-border-radius);
    padding: var(--step-0) var(--step-1);

    .title {
        align-items: center;
        display: flex;
        flex-direction: row;
        font-weight: 700;
    }
}

// Authentication Card
.auth-card {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;

    > * {
        max-width: calc(65ch / 2);
        width: 100%;
    }
}

.auth-card__logo {
    text-align: center;
}

// Brand
.brand {
    font-size: var(--step-2);
}

// Dropdown
.dropdown .dropdown__content {
    background-color: var(--ll-background-color);
    border: var(--ll-border-thin);
    border-radius: var(--ll-border-radius);
    padding: var(--step--5) var(--step--4);
    text-align: start;
}

@media (min-width: 768px) {
    .dropdown {
        position: relative;

        .dropdown__content {
            height: auto;
            inset-inline-end: 0;
            position: absolute;
            text-align: end;
            white-space: nowrap;
            width: auto;
        }
    }
}

// Modal
.modal-wrapper {
    background: rgba(0, 0, 0, 0.75);
    height: 100vh;
    left: 0;
    margin-top: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999;
}

.modal {
    background: white;
    border-radius: var(--ll-border-radius);
    border: var(--ll-border-thin);
    display: block;
    left: var(--step-0);
    margin-top: 0em;
    padding: var(--step-0);
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: calc(100vw - (2 * var(--step-0)));
    z-index: 999;
}

.modal > * + * {
    margin-block-start: 2em;
}

@media (min-width: 768px) {
    .modal {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: auto;
    }
}

// Navigation
nav {
    display: flex;
    flex-direction: column;
    margin-block-start: var(--step-2);
}

nav ul {
    margin: 0;
    padding-inline-start: 0;
}

nav ul > li {
    padding-inline-start: 0;
}

nav ul > li::before {
    display: none;
}

nav > * + * {
    margin-block-start: var(--step--2);
}

nav .link {
    align-items: center;
    display: flex;
    flex-direction: row;
}

nav .icon {
    height: 1em;
    margin-inline-end: 0.125em;
    width: 1em;
}

@media (min-width: 768px) {
    nav {
        flex-direction: row;
        margin-block-start: 0;
        margin-inline-start: auto;
    }

    nav > * + * {
        margin-block-start: 0;
        margin-inline-start: var(--step--2);
    }

    nav ul {
        display: flex;
        flex-direction: row;
    }

    nav ul > li + li {
        margin-inline-start: var(--step--2);
    }
}

// Date Input
.date {
    display: flex;
    flex-wrap: wrap;
}

.date .field + .field {
    margin-inline-start: var(--step-0);
}

.date .field--year input {
    width: 6ch;
}

.date .field--day input {
    width: 4ch;
}

.date .field--month select {
    display: block;
    width: auto;
}

.date legend,
.date .field__hint,
.date [x-show="error"] {
    width: 100%;
}
